
.jfx-button{
    -fx-background-color: #0288D1;
    -fx-text-fill: #ffffff;
    
}
.jfx-button:hover{
    -fx-background-color: #2E7D32;
}

.setup-button{
    -fx-background-color: #424242;
    -fx-text-fill: white;
}
.setup-button:hover{
    -fx-background-color: #2088D1; 
}